@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body {
	margin:				0;
	padding:			0;
	background:			#FFFFFF;
	color:				#FFFFFF;
	font-family:		'Exo', sans-serif;
	font-size:			12px;
}
.body {
	position:			absolute;
	top:				-20px;
	left:				-20px;
	right:				-40px;
	bottom:				-40px;
	width:				auto;
	height:				auto;
	background-image:	url(../images/background.jpg);
	background-size:	cover;
	-webkit-filter:		blur(5px);
	z-index:			0;
}
.grad {
	position: absolute;
	top:				-20px;
	left:				-20px;
	right:				-40px;
	bottom:				-40px;
	width:				auto;
	height:				auto;
	background:			-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index:			1;
	opacity:			0.7;
}
.header {
	position:			absolute;
	top:				calc(50% - 35px);
	left:				calc(50% - 255px);
	z-index:			2;
}
.header div {
	float:				left;
	color:				#FFFFFF;
	font-family:		'Exo', sans-serif;
	font-size:			35px;
	font-weight:		200;
}
.header div span {
	color:				#5379fa !important;
}
.footer {
	position:			absolute;
	top:				calc(50% + 12px);
	left:				calc(50% - 255px);
	z-index:			2;
	float:				left;
	font-family:		'Exo', sans-serif;
	font-size:			12px;
	font-weight:		200;
	color:				#FFFFFF !important;
}
.login {
	position:			absolute;
	top:				calc(50% - 75px);
	left:				calc(50% - 50px);
	height:				150px;
	width:				350px;
	padding:			10px;
	z-index:			2;
}
.login input[type=text] {
	width:				250px;
	height:				30px;
	background:			transparent;
	border:				1px solid rgba(255,255,255,0.6);
	border-radius:		2px;
	color:				#FFFFFF;
	font-family:		'Exo', sans-serif;
	font-size:			14px;
	font-weight:		400;
	padding:			4px;
}
.login input[type=password] {
	width:				250px;
	height:				30px;
	background:			transparent;
	border:				1px solid rgba(255,255,255,0.6);
	border-radius:		2px;
	color:				#FFFFFF;
	font-family:		'Exo', sans-serif;
	font-size:			14px;
	font-weight:		400;
	padding:			4px;
	margin-top:			10px;
}
.login input[type=submit] {
	width:				260px;
	height:				35px;
	background:			#FFFFFF;
	border:				1px solid #FFFFFF;
	cursor:				pointer;
	border-radius:		2px;
	color:				#1A1A1A;
	font-family:		'Exo', sans-serif;
	font-size:			14px;
	font-weight:		400;
	padding:			6px;
	margin-top:			10px;
}
.login input[type=submit]:hover {
	opacity:			0.8;
}
.login input[type=submit]:active {
	opacity:			0.6;
}
.login input[type=text]:focus {
	outline:			none;
	border:				1px solid rgba(255,255,255,0.9);
}
.login input[type=password]:focus {
	outline:			none;
	border:				1px solid rgba(255,255,255,0.9);
}
.login input[type=submit]:focus {
	outline:			none;
}
::-webkit-input-placeholder {
   color:				rgba(255,255,255,0.6);
}
::-moz-input-placeholder {
   color:				rgba(255,255,255,0.6);
}
.title {
	position:			relative;
	z-index:			2;
}
.title div {
	float:				left;
	color:				#FFFFFF;
	font-family:		'Exo', sans-serif;
	font-size:			24px;
	font-weight:		200;
}
.title div span {
	color:				#5379fa !important;
}
div.container {
    width:				100%;
    border:				0;
}
.article {
    margin-left:		170px;
    border-left:		0;
    padding:			1em;
    overflow:			hidden;
    color:				#1A1A1A;
	background-color:	#FFFFFF;
	font-family:		'Exo', sans-serif;
	font-size:			12px;
	font-weight:		400;
}
.article h1 {
	font-weight:		400;
}
.nav {
    float:				left;
    max-width:			160px;
    margin:				0;
    padding:			1em;
    color:				#1A1A1A;
    background-color:	#CCCCFF;
	font-family:		'Exo', sans-serif;
	font-size:			12px;
	font-weight:		400;
}
.nav a {
	width:				260px;
	height:				35px;
	background:			#CCCCFF;
	border:				0;
	cursor:				pointer;
	border-radius:		2px;
	color:				#1A1A1A;
	font-family:		'Exo', sans-serif;
	font-size:			12px;
	font-weight:		400;
	padding:			0;
	margin-top:			10px;
	text-decoration:	none;
}
.nav a:hover {
	opacity:			0.8;
	text-decoration:	underline;	
}
.nav a:active {
	opacity:			0.6;
	text-decoration:	none;
}
.content-wrapper {
	display:			table;
}
.content {
	display:			table-row;
}
.content>div {
	display:			table-cell;
    padding:			3px;
}
.content input[type=text] {
	width:				150px;
	height:				30px;
	background:			transparent;
	border:				1px solid rgba(0,0,0,0.6);
	border-radius:		2px;
	color:				#000000;
	font-family:		'Exo', sans-serif;
	font-size:			12px;
	font-weight:		400;
	padding:			4px;
}
.content input[type=password] {
	width:				150px;
	height:				30px;
	background:			transparent;
	border:				1px solid rgba(0,0,0,0.6);
	border-radius:		2px;
	color:				#000000;
	font-family:		'Exo', sans-serif;
	font-size:			12px;
	font-weight:		400;
	padding:			4px;
	margin-top:			10px;
}
.content input[type=submit] {
	width:				160px;
	height:				35px;
	background:			transparent;
	border:				1px solid #000000;
	cursor:				pointer;
	border-radius:		2px;
	color:				#1A1A1A;
	font-family:		'Exo', sans-serif;
	font-size:			12px;
	font-weight:		400;
	padding:			4px;
	margin-top:			10px;
}
.content input[type=submit]:hover {
	opacity:			0.8;
	background:			#E0F0FF;
}
.content input[type=submit]:active {
	opacity:			0.6;
}
.content input[type=text]:focus {
	outline:			none;
	border:				1px solid rgba(0,0,0,0.9);
}
.content input[type=password]:focus {
	outline:			none;
	border:				1px solid rgba(0,0,0,0.9);
}
.content input[type=submit]:focus {
	outline:			none;
}
ul.tree, ul.tree ul {
	list-style:			none;
	margin:				0;
	padding:			0;
} 
ul.tree ul {
	margin:				0px;
	margin-left:		40px;
	padding:			0 15px;
	line-height:		20px;
	color:				#1A1A1A;
	font-family:		'Exo', sans-serif;
	font-size:			12px;
	font-weight:		400;
	border-left:		1px solid rgb(100,100,100);
}
ul.tree ul:last-child {
	border-left:		none;
}
ul.tree ul:before {
	position:			relative;
	top:				-0.3em;
	height:				1em;
	width:				20px;
	color:				white;
	border-bottom:		1px solid rgb(100,100,100);
	content:			"";
	display:			inline-block;
	left:				-15px;
}
ul.tree ul:last-child:before {
	border-left:		1px solid rgb(100,100,100);   
}
